body {
    margin: 0;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: Arial;
  }
  
  .app {
    background:#495057;
    padding: 30px;
    height: 100vh;
  }

  